body{
  #app {
    // display: none;
  }
  background: $color-background;

  font-family: Helvetica Neue, sans-serif;

  .feed-header{
      width: 100%;
      background: $color-card-bg;
      text-align: center;
      margin: 0 auto;
      * {
        display: block;
        margin: .5rem auto;
      }
      button {
        font-size: 1rem;
        background: white;
        padding: 0 1rem;
        border: 1px solid $color-blue;
        border-radius: 1rem;
        color: $color-blue;
      }
      button:hover {
        background: $color-blue;
        color: white;
        border: 1px solid white;
      }
      h4 {
        font-weight: 300;
      }


  }
}
