.feed-card {

    width: 60%;
    margin: 5rem auto;
    padding: 2rem;
    background: $color-card-bg;
    border-radius: .5rem;
    .item-card {
      border: 1px solid $color-grey;
      // border-top: none;
      // border-radius: .5rem;
      padding: 1rem;

      &:first-child {
        border-bottom: none;
      }
    }

  }
.name {
  font-weight: bold;
}
.user, .date {
  // grey smaller
  color: $color-grey;
  font-size: .9rem;

}

.msg {
  //
}
