.feed-card {
    width: 60%;
    padding: 2rem;
    border-top: 1px solid black;

    .item-card {
      border: 1px solid $color-blue;
      padding: 1rem;
      margin: 0 auto;
      text-align: left;
      &:first-child {
        border-bottom: none;
        border-radius: .5rem .5rem 0 0;
      }
      &:last-child {
        border-top: none;
        border-radius: 0 0 .5rem .5rem;

      }
      .del-btn {
        color: $color-grey;
        background: white;
        font-size: .75rem;
        border: none;
        display: inline;

      }
      .del-btn:hover {
        color: black;
      }

    }

  }
.name {
  font-weight: bold;
}
.name:hover {
  color: $color-blue;
}
.user, .date {
  color: $color-grey;
  font-size: .9rem;
}


.msg {
  //
}
