.feed-card {

    width: 60%;
    // margin: 7rem auto;
    padding: 2rem;

    // border-radius: .5rem;

    border-top: 1px solid black;

    .item-card {
      // width: 60%;
      border: 1px solid $color-blue;
      padding: 1rem;
      margin: 0 auto;
      text-align: left;

      &:first-child {
        border-bottom: none;
        border-radius: .5rem .5rem 0 0;
      }
      &:last-child {
        border-radius: 0 0 .5rem .5rem ;
      }
    }

  }
.name {
  font-weight: bold;
}
.user, .date {
  color: $color-grey;
  font-size: .9rem;

}

.msg {
  //
}
