.feed-header{
    width: 100%;
    background: $color-card-bg;
    text-align: center;
    margin: 0 auto;
    * {
      display: block;
      margin: .5rem auto;
    }
    .logout {
      font-size: .75rem;
      background: white;
      padding: .5rem 1rem;
      border: 1px solid $color-blue;
      border-radius: 1rem;
      color: $color-blue;
      display: inline-block;


    }
    .logout:hover {
      background: $color-blue;
      color: white;
      border: 1px solid white;
    }
    .create-btn {
      font-size: 1rem;
      background: white;
      padding: 0 1rem;
      border: 1px solid $color-blue;
      border-radius: 1rem;
      color: $color-blue;
      display: inline-block;
    }
    .create-btn:hover {
      background: $color-blue;
      color: white;
      border: 1px solid white;
    }
    h4 {
      font-weight: 300;
      display: inline-block;
      text-align: center;
    }
}

.feed-card {
    width: 60%;
    padding: 2rem;
    border-top: 1px solid black;

    .item-card {
      border: 1px solid $color-blue;
      padding: 1rem;
      margin: 0 auto;
      text-align: left;
      &:first-child {
        border-bottom: none;
        border-radius: .5rem .5rem 0 0;
      }
      &:last-child {
        border-top: none;
        border-radius: 0 0 .5rem .5rem;

      }
      .del-btn {
        color: $color-grey;
        background: white;
        font-size: .75rem;
        border: none;
        display: inline;

      }
      .del-btn:hover {
        color: black;
      }

    }

  }
.name {
  font-weight: bold;
}
.name:hover {
  color: $color-blue;
}
.user, .date {
  color: $color-grey;
  font-size: .9rem;
}


.msg {
  //
}
