.form {
  // margin-top: 5rem;
  margin: 5rem auto 0 auto;
  background: $color-background;
  padding: 1rem;
  width: 50%;
  border: 2px solid black;
  textarea {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
  }
  button {
    
  }
}
